/* 
.container {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
} 

.article_search {
    grid-column-start: 1;
    grid-row-start: 1;
}

.left_container {
    grid-column-start: 1;
    grid-row:2/6;
    width: 25vw;
}

 */
